@model CustomIdentity.Models.Job
@{
	ViewData["Title"] = "Delete Confirmed";
}


<h3>Bạn có chắc muốn xóa công việc này?</h3>

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Note)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.JobStatus)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DateStart)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DeadLine)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AssignTo)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(model => model.Name)
				</td>
				<td>
					@Html.DisplayFor(model => model.Note)
				</td>
				<td>
					@Html.DisplayFor(model => model.JobStatus)
				</td>
				<td>
					@Html.DisplayFor(model => model.DateStart)
				</td>
				<td>
					@Html.DisplayFor(model => model.DeadLine)
				</td>
				<td>
					@Html.DisplayFor(model => model.AssignTo)
				</td>
				<td>
					<form asp-action="Delete">
						<input type="hidden" asp-for="Id"/>
						<input type="submit" value="Xóa" class="btn btn-danger" /> |
						<a asp-action="Index" class="btn btn-dark">Về danh sách</a>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
