@model CustomIdentity.Models.Job

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Job Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeadLine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
