@model CustomIdentity.Models.Job

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Chi tiết công việc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Tên công việc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Ghi chú
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            Tình trạng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
           Ngày bắt đầu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class = "col-sm-2">
            Ngày kết thúc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeadLine)
        </dd>
        <dt class = "col-sm-2">
            Người thực hiện
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Về danh sách</a>
</div>
